body {
  background-color: #f2f2f2;
  margin-left: 150px;
  margin-right: 150px;
}

section {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

section .header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

section .header .h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  letter-spacing: 5px;
  font-family: "Raleway", sans-serif;
}

section .header .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .header .ul ul {
  list-style: none;
  margin-left: 170px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .header .ul ul li {
  display: inline-block;
  margin: 15px 15px;
}

section .header .ul ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #393939;
  padding: 10px 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

section .header .ul ul li a:hover {
  opacity: .5;
}

.body1 .img img {
  margin: auto;
}

.body2 {
  margin-top: 50px;
  margin-left: 10px;
  width: 100%;
}

.body2 img {
  width: 300px;
  -webkit-box-shadow: 13px 4px 10px 2px grey;
          box-shadow: 13px 4px 10px 2px grey;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.body2 img:hover {
  -webkit-box-shadow: 4px 2px 15px 13px grey;
          box-shadow: 4px 2px 15px 13px grey;
  cursor: pointer;
}

.body2 .img2 {
  margin-left: 60px;
}

.body2 .img3 {
  margin-left: 60px;
}

.body3 {
  margin-top: 90px;
  padding-bottom: 70px;
}

.body3 .body3text .text {
  text-align: center;
}

.body3 .body3text .text h2 {
  letter-spacing: 2px;
  font-family: "Spartan", sans-serif;
  font-weight: bolder;
  color: #393939;
}

.body3 .body3text .text p {
  font-family: "Spartan", sans-serif;
  font-size: small;
  color: #6a6a6a;
}

.body3 .body3text .text .p1 {
  margin-top: 80px;
}

.body3 .body3text .text .button {
  text-transform: uppercase;
  margin-top: 50px;
  width: 150px;
  height: 40px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
  color: #393939;
  border-radius: 5px;
}

.body3 .body3text .text .button:hover {
  background-color: black;
  color: #d3d3d3;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.foot1 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.foot1 div {
  width: 100%;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.foot1 div:hover {
  -webkit-box-shadow: 0px 5px 13px 15px grey;
          box-shadow: 0px 5px 13px 15px grey;
  cursor: pointer;
}

.foot1 div h5 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #393939;
}

.foot1 div p {
  text-align: center;
  font-size: small;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  color: #6a6a6a;
  line-height: 1.8;
}

.foot2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.foot2 ul {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

.foot2 ul li {
  display: inline-block;
  margin: 10px;
}

.foot2 ul li a {
  text-decoration: none;
  color: #393939;
}

.foot2 ul li a:hover {
  color: #939393;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5px;
}

.foot3 {
  padding: 15px;
  padding-bottom: 30px;
}

.foot3 h2 {
  text-align: center;
  text-transform: uppercase;
  color: #393939;
  letter-spacing: 2px;
}

.foot3 div {
  margin-left: 440px;
}

.foot3 div a img {
  margin-top: 10px;
  margin-left: 15px;
  text-align: center;
  opacity: 0.3;
}

.foot3 div a img:hover {
  opacity: 1;
}

.foot3 p {
  text-align: center;
  color: #939393;
}
/*# sourceMappingURL=style.css.map */