body {
  background-color: #f2f2f2;
  margin-left: 150px;
  margin-right: 150px;
}
section {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  .header {
    background-color: #ffffff;
    display: flex;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;

    .h1 {
      display: flex;
      margin-top: 10px;
      margin-left: 30px;
      letter-spacing: 5px;
      font-family: "Raleway", sans-serif;
    }
    .ul {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        list-style: none;
        margin-left: 170px;
        
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: 700;
        box-sizing: border-box;
        li {
          display: inline-block;
          // margin-top: 15px;
          // margin-right: 32px;
         margin: 15px 15px;
          
          a {
            text-decoration: none;
            display: flex;
            color: #393939;
            padding: 10px 10px;
            // height: auto;
            // border: 1px solid black;
            // border: none;
            transition: 1s;
            &:hover {
                opacity: .5;
          }
          }
        }
      }
    }
  }
}
.body1 {
  .img {
    img {
      margin: auto;
    }
  }
}

.body2 {
  margin-top: 50px;
  margin-left: 10px;
  width: 100%;

  img {
    width: 300px;
    box-shadow: 13px 4px 10px 2px grey;
    transition: 1s ease-in-out;
    &:hover {
      box-shadow: 4px 2px 15px 13px grey;
      cursor: pointer;
    }
  }

  .img2 {
    margin-left: 60px;
  }
  .img3 {
    margin-left: 60px;
  }
}
.body3 {
  margin-top: 90px;
  padding-bottom: 70px;
  .body3text {
    .text {
      text-align: center;

      h2 {
        letter-spacing: 2px;
        font-family: "Spartan", sans-serif;
        font-weight: bolder;
        color: #393939;
      }
      p {
        font-family: "Spartan", sans-serif;
        font-size: small;
        color: #6a6a6a;
      }
      .p1 {
        margin-top: 80px;
      }
      .button {
        text-transform: uppercase;
        margin-top: 50px;
        width: 150px;
        height: 40px;
        border: 2px solid black;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 2px;
        cursor: pointer;
        color: #393939;
        border-radius: 5px;
        &:hover {
          background-color: black;
          color: #d3d3d3;
          border: none;
          transition: 1s;
          transform-origin: center;
        }
      }
    }
  }
}
.foot1 {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  div {
    width: 100%;
    padding: 10px;
    // box-shadow: 0px 1px 1px 1px grey;
    flex-direction: row;
    justify-content: space-between;
    transition: 1s ease-in-out;
    &:hover {
      box-shadow:0px 5px 13px 15px grey;
      cursor: pointer;
    }
    h5 {
      text-align: center;
      letter-spacing: 2px;
      font-size: 15px;
      font-family: "Raleway", sans-serif;
      color: #393939;
    }
    p {
      text-align: center;
      font-size: small;
      font-weight: 300;
      font-family: "Raleway", sans-serif;
      color: #6a6a6a;
      line-height: 1.8;
    }
    // img {
    // }
  }
}
.foot2 {
  padding-top: 10px;
  padding-bottom: 10px;
  ul {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    li {
      display: inline-block;
      margin: 10px;
      a {
        // display: inline-block;
        text-decoration: none;
        color: #393939;
        &:hover {
          color: #939393;
          transition: 1s;
          border-radius: 5px;
        }
      }
    }
  }
}
.foot3 {
  padding: 15px;
  padding-bottom: 30px;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #393939;
    letter-spacing: 2px;
  }
  div {
    margin-left: 440px;
    a {
      img {
        margin-top: 10px;
        margin-left: 15px;
        text-align: center;
        opacity: 0.3;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  p {
    text-align: center;
    color: #939393;
  }
}
